[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third_party/nghttp2"]
	path = third_party/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "third_party/grpc-proto"]
	path = third_party/grpc-proto
	url = https://github.com/grpc/grpc-proto.git
